<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <div class="login-box">
    <form (ngSubmit)="doLogin()" #loginForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list>
            
            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="login.email" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="login.password" required></ion-input>
            </ion-item>            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Login</button>          
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>
