<ion-header>
  <ion-navbar>
    <ion-title>
      Project List
    </ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="addProject()">Add</button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let project of projects">
      {{ project.name }}
    </button>  
  </ion-list>
</ion-content>
