<ion-header>
  <ion-navbar>
    <ion-title>New Project</ion-title>

    <ion-buttons end>
      <button ion-button color="primary" (click)="save()" [disabled]="!project.name">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Project name" [(ngModel)]="project.name" required></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
